@import "./reset.css";

html,
body {
  height: 100%;
}
body {
  background-color: #7f8c8d;
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-clock {
  margin-top: 100px;
}
.content-clock__time {
  font-size: 10em;
  color: #ffffff;
}
.content-clock__format {
  font-size: 3em;
  color: #ffffff;
}

.content__askName input {
  border: none;
  border-bottom: 2pt solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  margin-top: 30px;
  font-size: 20pt;
  outline: none;
  width: 100%;
  text-align: center;
  transition: transform 0.2s;
}
.content__askName input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.content__askName input:hover,
.content__askName input:focus {
  transform: scale(1.1);
}

.content__message {
  margin-top: 30px;
  font-size: 3em;
  color: #ffffff;
}
.content-todo {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 2em;
  font-weight: 400;
  color: #ffffff;
}
.content-todo__form {
  margin-top: 30px;
}
.content-todo__form input {
  border: none;
  outline: none;
  background-color: transparent;
  font: unset;
  font-size: 0.7em;
  width: 400px;
  border-bottom: 2pt solid #ffffff;
  text-align: center;
  color: #ffffff;
  transition: transform 0.2s;
}
.content-todo__form input:hover,
.content-todo__form input:focus {
  transform: scale(1.1);
}
.content-todo__header {
  width: 300px;
  font-size: 0.7em;
  margin-top: 20px;
  padding: 5px 0;
  border-radius: 10px 10px 0 0;
}
.content-todo__header__text {
  font-size: 1em;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: inherit;
}
.content-todo__header__text:hover {
  opacity: 0.8;
}
.content-todo__header__icon {
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}
.content-todo__header__icon svg {
  width: 1.2em;
  height: 1.2em;
  color: rgba(255, 255, 255, 0.7);
}
.content-todo__header svg:hover {
  border-radius: 0.6em;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 1);
}
.content-todo-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1em;
  background-color: rgba(45, 52, 54, 0.7);
  width: 300px;
  min-height: 200px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0 0 10px 10px;
}
.content-todo-list li {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 6px 25px;
}
.content-todo-list input {
  width: 16px;
  height: 16px;
}
.content-todo-list span {
  font-size: 0.6em;
  flex-grow: 1;
  text-align: start;
}
.content-todo-list button {
  background-color: inherit;
  border: none;
  outline: none;
  font-size: 0.3em;
  cursor: pointer;
}
.content-todo-list button:hover {
  transform: scale(1.1);
}

.hidden {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

.bgImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: -1;
  animation: fadeIn 1s linear;
}

.weather {
  position: absolute;
  bottom: 50px;
  right: 50px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16pt;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 10px;
}
.weather span {
  margin: 5px;
}
.weather__place {
  font-size: 20pt;
  font-weight: 500;
}
